*{
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 32px;
}
.flex-container{
    display: flex;
    gap:8px;
    text-align: center;
}
.flex-item{
    padding: 150px 32px;
    border: 2px solid blue;
}
.left{
    flex: 1 1 30%; 
}
.right{
    flex: 1 1 70%;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
}
@media (max-width: 480px) {
    .flex-container {
        flex-direction: column;
        gap:8px;
    }
    
    .flex-item{
        margin: 16px;
    }
 }
